{% extends 'inicio.html' %}
{% load static %}
{% block title %} Analistas {% endblock %}

{% block content %}
    <div>
        <div>
            <a href="nuevo_analista">Agregar Analista</a>
        </div>
        <div>Numero de analistas:{{no_analistas}}</div>
        <table border="3">
            <thead>
                <tr>
                    <th>NUMERO</th>
                    <th>NOMBRE</th>
                    <th>EDITAR</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            {% for analista in Analistas %}
            <tr>
                <td>{{analista.id}}</td>
                <td>{{analista.nombre}}</td>
                <td><a href="editar_analista/{{analista.id}}">Editar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}